##
## This file is maintained by Ansible - CHANGES WILL BE OVERWRITTEN
##

{% if proftpd_galaxy_auth_context == 'global' %}
<Global>
{% endif %}

# Options from proftpd_galaxy_default_options
{% for pair in proftpd_galaxy_default_options -%}
{% for key in pair -%}
{{ key }} {{ pair[key] }}
{% endfor %}
{% endfor %}

# Options from proftpd_galaxy_options
{% for pair in proftpd_galaxy_options | default([]) -%}
{% for key in pair -%}
{{ key }} {{ pair[key] }}
{% endfor %}
{% endfor %}

# Allow users to overwrite and resume uploads
AllowOverwrite      on
AllowStoreRestart   on

# Deny use of commands that allow modifying modification times and retrieving files
<Limit SITE_CHMOD SITE_UTIME RETR MDTM MFMT MFCT MFF>
    DenyAll
</Limit>

# Basic module setup
SQLEngine           on
SQLPasswordEngine   on
SQLLogFile          /var/log/proftpd/sql.log
SQLBackend          postgres
SQLAuthenticate     users

# Database connection info
SQLConnectInfo      {{ proftpd_sql_db }} {{ proftpd_sql_user | default(__galaxy_user_name) }} {{ proftpd_sql_password | default('') }}

# Authenticate with PBKDF2, fall back to SHA1
SQLAuthTypes        PBKDF2 SHA1
SQLPasswordPBKDF2   sql:/GetPBKDF2Params
SQLPasswordEncoding base64

# Set uid and gid of Galaxy user
SQLDefaultUID       {{ galaxy_user_uid }}
SQLDefaultGID       {{ galaxy_user_gid }}

# Define named queries for user/salt lookups
SQLUserInfo         custom:/LookupGalaxyUser
SQLPasswordUserSalt sql:/GetUserSalt
SQLNamedQuery       GetPBKDF2Params  SELECT "(CASE WHEN split_part(password, '$', 1) = 'PBKDF2' THEN UPPER(split_part(password, '$', 2)) ELSE 'SHA256' END), (CASE WHEN split_part(password, '$', 1) = 'PBKDF2' THEN split_part(password, '$', 3) ELSE '10000' END), 24 FROM galaxy_user WHERE email='%U'"
SQLNamedQuery       GetUserSalt      SELECT "(CASE WHEN split_part(password, '$', 1) = 'PBKDF2' THEN split_part(password, '$', 4) END) FROM galaxy_user WHERE email='%U'"
SQLNamedQuery       LookupGalaxyUser SELECT "email, (CASE WHEN split_part(password, '$', 1) = 'PBKDF2' THEN split_part(password, '$', 5) ELSE encode(decode(password, 'hex'), 'base64') END),'{{ __galaxy_user_name }}','{{ __galaxy_user_name }}','{{ galaxy_ftp_upload_dir }}/%U','/bin/bash' FROM galaxy_user WHERE email='%U'"

{% if proftpd_galaxy_auth_context == 'global' %}
</Global>
{% endif %}
